@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Macondo&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Fonts */
.bold{
  font-family: 'Koulen', cursive;
}

.basic{
  font-family: 'Roboto Flex', sans-serif;
}

.quote{
  font-family: 'Macondo', cursive;
}

/* Font Size */

.font-10{
  font-size: 10px;
}

.font-15{
  font-size: 15px;
}

.font-20{
  font-size: 20px;
}

.font-25{
  font-size: 25px;
}

.font-30{
  font-size: 30px;
}

.font-50{
  font-size: 50px
}

/* backgrounds */

.white-bg{
  background-color: #fff;
}

/* Width */

.w-200{
  width: 200px;
}

.w-350{
width: 350px;
}

.w-370{
  width: 370px;
}

.w-400{
  width: 400px;
}

.w-700{
  width: 700px;
}

.w-100{
  width: 100%;
}

/* padding */

.padding-10{
  padding: 10px !important;
}

.padding-5{
  padding: 5px
}

/* Margin */

.margin-10{
  margin: 10px;
}

/* Text Align Center */

.text-center{
  text-align: center;
}

.strikethrough{
  text-decoration: line-through;
}

no-decoration{
  text-decoration: none;
}