
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* backgrounds */

.white-bg{
  background-color: #fff;
}

/* Width */

.w-200{
  width: 200px;
}

.w-350{
width: 350px;
}

.w-370{
  width: 370px;
}

.w-400{
  width: 400px;
}

/* padding */

.padding-10{
  padding: 10px !important;
}
